body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #e1eec3, #f05053);
}
.buttons {
    gap: 5px;
}

.choices-counters {
    display: flex;
    align-items: center;
    gap: 100px;
}